{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" media="all">


<style>
    #photo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #news-title{
        margin-bottom: 20px;
        width: 350px;
    }
    #add-news{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
    }
    #date-inp{
        margin-left: 0px;
        margin-bottom: 20px;
        width: 350px;
    }
    .checkbox-inline{
        height: 20px;
        width: 20px;
        padding-left: 20px;
    }
    .chek{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 40px;
    }
</style>
<div class="container">
   <div class="inner-content">
   <form enctype="multipart/form-data" action="{% url 'myadmin:news_add' %}" method="post" novalidate>
        {% csrf_token %}
        <input type="file" id="photo" name="photo" multiple />
        <label for="#title">Заголовок</label>
        <input type="text" class="form-control" name="title" id="news-title" value="">
        
        <label for="#date-inp">Дата</label>
        <input type="date" class="form-control" name="date" id="date-inp"><br>
        
        <div class="chek">
            <label class="checkbox-inline"><input type="checkbox" value="">Деятельность</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Мониторинг</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Слайдер</label>
        </div>
      <textarea name="text" rows="10" cols="40" id="text"></textarea>
      <button id="add-news" type="submit" class="btn btn-default"> Добавить </button>
    </form>
    </div>
</div>


  <script>
  tinymce.init({
    selector: 'textarea',
    height: 300,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code'
    ],
    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
    content_css: [
      ]
  });
  </script>

  {% endblock %}
