{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    #add-partner{
        width: 200px;
        height: 50px;
        padding-top: 12px;
        font-size: 17px;
    }
</style>
<div class="container">
   <div class="inner-content">
    <a id = "add-partner" href="" type="submit" class="btn btn-default">Добавить Партнера</a>
    <h3>Список Партнеров</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Миниатюра</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Ссылка</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           {% for each in news %}
            {# Each "contact" is a Contact model object. #}
            <tr>
                <td><img src=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="" type="submit" class="btn btn-default">Изменить</a></td>
                <td><a href="" type="submit" class="btn btn-default">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      


<script>
</script>
{% endblock %}