{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    #add-news{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 12px;
        font-size: 17px;
    }
    h3{
        padding-bottom: 5px;
        border-bottom: 1px solid red;
        margin-bottom: 20px;
    }
    .table-hover tbody tr:hover td {
        background-color: #eaeaea;
    }
    table input{
        height: 20px;
        width: 20px;
    }
</style>
<div class="container">
   {% csrf_token %}
   <div class="inner-content">
    <a id = "add-news" href="{% url 'myadmin:news_add' %}" type="submit" class="btn btn-default">Добавить Новость</a>
    <h3>Список новостей</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Эл. почта</th>
            <th>Пароль</th>
          </tr>
        </thead>
        <tbody>
           {% for each in users %}
            <tr>
                <td><img src="{{ each.img_url }}" alt="" width = "80px" height="50px"></td>
                <td>{{ each.name }}</td>
                <td>{{ each.email }}</td>
                <td>{{ each.password }}</td>
                <td><a href="{% url 'myadmin:news_update' each.pk  %}" type="submit" class="btn btn-default">Изменить</a></td>
                <td><a type="submit" class="btn btn-default" data-toggle="modal" data-target="#Confirm{{ each.pk }}">Удалить</a></td>
            </tr>

            <div id="Confirm{{ each.pk }}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h3>Вы уверены?</h3>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'myadmin:news_delete' each.pk  %}" type="submit" class="btn btn-default" >Да</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>


            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
