{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}


<style>
    #name-inp, #email-title, #password-title{
        margin-bottom: 20px;
    }
    #ok-btn{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
    }
</style>
<div class="container">
   <div class="inner-content">

   {% if prtcl_user %}
   <form enctype="multipart/form-data" action="{% url 'myadmin:user_update_save' prtcl_user.pk %}" method="post" novalidate>
        {% csrf_token %}
        <label for="#name">Имя</label>
        <input type="text" class="form-control" name="name" id="name-inp" value="{{ prtcl_user.username }}">
        <label for="#email">Эл. почта</label>
        <input type="email" class="form-control" name="email" id="email-title" value="{{ prtcl_user.email }}">
        <label for="#password">Пароль</label>
        <input type="text" class="form-control" name="password" id="password-title" value="{{ prtcl_user.password }}">
        <button type="submit" id="ok-btn" class="btn btn-default"> Изменить </button>
    </form>
    {% else %}
    <form enctype="multipart/form-data" action="{% url 'myadmin:user_add_save' %}" method="post" novalidate>
         {% csrf_token %}
         <label for="#name">Имя</label>
         <input type="text" class="form-control" name="name" id="name-inp">
         <label for="#email">Эл. почта</label>
         <input type="email" class="form-control" name="email" id="email-title" value="">
         <label for="#password">Пароль</label>
         <input type="text" class="form-control" name="password" id="password-title" value="">
         <button type="submit" id="ok-btn" class="btn btn-default"> Добавить </button>
     </form>
    {% endif %}
    </div>
</div>

  {% endblock %}
