{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}

    {% if activity_news %}

		<div class="galery">
		<div class="row">
			{% for news in activity_news %}

						<div class="col-md-4">
							 <div class="news">
								 <img src="{{ news.img_url }}" alt="{{ news.title }}">
								 <div class="news-text">
								 <h3 id = "news-text-title">{{ news.title }}</h3>
								 <p>{% autoescape off %} {{ news.text }} {% endautoescape %}</p>
								 </div>
								 <i id = "date">{{ news.pub_date | date:"d.m.Y" }}</i>
								 <a id = "Reed-more" href="{% url 'mynews:fullread' news.pk %}">Читать больше</a>
							 </div>
						</div>

			 {% endfor %}

		 </div>
		</div>

    {% endif %}

{% endblock %}

{% block paginate %}

		<nav class ="p-nav" aria-label="Page navigation">
			<div class="pagination">
				<span class="step-links">
				{% if activity_news.has_previous %}
					<a href="?page={{ activity_news.previous_page_number }}"><button><<</button></a>
				{% else %}
					<button><<</button>
				{% endif %}
				<span class="current">
				 {{ activity_news.number }} из {{ activity_news.paginator.num_pages }}
				</span>
				{% if activity_news.has_next %}
					<a href="?page={{ activity_news.next_page_number }}"><button>>></button></a>
					{% else %}
						<button>>></button>
				{% endif %}
				</span>
			</div>
		</nav>

{% endblock %}
