{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ВПГ</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="{% static '/images/favicon.ico' %}"/>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/mainstyles.css' %}">

    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.theme.default.css' %}">
  </head>
  <body>
  	<div class="headline">
  	    <div class="container">
            <div class="contacts">
                <div><span class="glyphicon glyphicon-phone-alt"></span>+38-096-868-85-02</div>
                <div><span class="glyphicon glyphicon-envelope"></span>East.hr.group@gmail.com</div>
            </div>
  	        <form action="{% url 'mynews:search' %}" method="POST">
              {% csrf_token %}
               <div class="search">
                <input type="text" class = "s-inp" placeholder="Поиск...">
                <button class = "s-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
            <a href="#" id="lawyer">Адвокат Рабочих</a>
  	    </div>
  	</div>
  	<div class="container main">
  	    <div class="face">
  	        <div class="logo">
  	            <a href="{% url 'mynews:news' %}"><img src="{% static '/images/logo.png' %}"></a>
  	            <div class="logo-text">
  	                <h4>Общественная правозащитная организация</h4>
					<h2><strong>B</strong>осточная <strong>П</strong>равозащитная <strong>Г</strong>руппа</h2>
  	            </div>
  	        </div>
  	    </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'mynews:aboutus' %}">О нас</a></li>
                        <li><a href="{% url 'mynews:teammembers' %}">Наша команда</a></li>
                        <li><a href="{% url 'mynews:activity' %}">Деятельность</a></li>
                        <li><a href="{% url 'mynews:monitoring' %}">Мониторинг</a></li>
                        <li><a href="{% url 'mynews:reference' %}">СМИ про нас</a></li>
                        <li><a href="{% url 'mynews:partners' %}">Партнеры</a></li>
                        <li><a href="{% url 'mynews:contacts' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  	</div>
  	<div class="main-line">
  	    <div class="container main">
           {% if slides %}
            <div id="Slider" class="carousel slide Slider" data-ride="carousel" data-pause="hover">
                <ol class="carousel-indicators">
                    <li data-target="#Slider" data-slide-to="0" class="active"></li>
                    <li data-target="#Slider" data-slide-to="1"></li>
                    <li data-target="#Slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   {% for slide in slides %}
                    <div class="item {% if forloop.counter == 1  %} active {% endif %}">
                        <a href="{% url 'mynews:fullread' slide.pk %}">
                            <img src="{{ slide.img_url }} ">
                            <div class="carousel-caption">
                                <h1> {{ slide.title }} </h1>
                                <p>{% autoescape off %} {{ slide.text }} {% endautoescape %}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <a href="#Slider" class = "left carousel-control" data-slide = "prev">
                <span class ="glyphicon glyphicon-chevron-left"></span></a>
                <a href="#Slider" class = "right carousel-control" data-slide = "next">
                <span class ="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            {% endif %}
  	    </div>
  	</div>
  	<div class="container main">
        <div class="col-md-8 content">
            {% if news %}
            <div class="row">
                <h2 class="content-title">Последние новости</h2>
                {% for each in news %}
                <div class="col-md-6 news shadow">
                    <img src="{{ each.img_url }}" alt="{{ each.title }}">
                    <div class="news-text">
                        <h3 id = "news-text-title">{{ each.title }}</h3>
                        <p>{% autoescape off %} {{ each.text }} {% endautoescape %}</p>
                    </div>
                    <i id = "date">{{ each.pub_date | date:"d.m.Y" }}</i>
                    <a id = "Reed-more" href="{% url 'mynews:fullread' each.pk %}">Читать больше</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% block body %}
            {% endblock %}
            {% endif %}
            {% block paginate %}
            {% endblock %}
        </div>
        <div class="col-md-4 sidebar">
            <div class="donate sidebox shadow">
                <h4><strong>Поддержите нашу деятельность</strong></h4>
                <a id = "donate" type="button" class="btn btn-default" href ="Donate.html">
                <img src="{% static '/images/heart.png' %}">Поддержать
                </a>
            </div>
            <div class="report sidebox shadow">
                <form action="#" class ="report-form">
                    <h4><strong>Сообщить о нарушении прав (анонимно)</strong></h4>
                    <div class="form-group">
                        <input type="name" class="form-control" id="InputName" placeholder="Укажите Имя">
                        <small id="NamelHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Укажите Email">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control textarea" rows="6" id="comment" placeholder="Введите сообщение"></textarea>
                        <small id="textHelp" class="form-text text-muted"></small>
                    </div>
                    <button id = "report-sub" type="submit" type="button" class="btn btn-default">Отправить</button>
                </form>
            </div>
            <div class="sidebox shadow feed"><iframe id="fb-frame"name="f1fb7462da1bc7" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=false&amp;app_id=1411420252434746&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df2311e44db7c6f4%26domain%3D15minut.org%26origin%3Dhttps%253A%252F%252F15minut.org%252Ffb3d6f4289a2a%26relation%3Dparent.parent&amp;container_width=386&amp;height=500&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Feast.hr.group%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=386" style="border: none; visibility: visible; width: 386px; height: 500px;" class=""></iframe>
            </div>
        </div>
        <div class="partners sidebox shadow">
            <h3>Наши Партнеры</h3>
            <div class="owl-carousel">
               {% if partners %}
               {% for partner in partners %}
                <div class="partner shadow">
                    <a href="{{ partner.link }}">
                       <div class="partner-img">
                           <img src="{{ partner.img_url }}" alt="{{ partner.name }}">
                       </div>
                       <p>{{ partner.name }}</p>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
  	</div>
  	<div class="footer">
        <div class="container main">
            <div class="quote">
                <p>Основным приоритетом организации является всесторонняя  защита прав человека на востоке украины во время военного конфликта.</p>
            </div>
            <div class="contacts">
                <div><span class="glyphicon glyphicon-phone-alt"></span>+38-096-868-85-02</div>
                <div><span class="glyphicon glyphicon-envelope"></span>East.hr.group@gmail.com</div>
                <a href="#" id="lawyer">Адвокат Рабочих</a>
            </div>
        </div>
  	</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type= text/javascript>
        $(document).ready(function() {
           $('li.active').removeClass('active');
           $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });

        $('.owl-carousel').owlCarousel({
            loop:true,
            autoplay: true,
            autoplayHoverPause: true,
            stagePadding: 10,
            margin:20,
            responsive:{
                0:{
                    items:2
                },
                400:{
                    items:3
                },
                600:{
                    items:5
                },
                1000:{
                    items:7
                }
            }
        })
    </script>
  </body>
</html
