		    <h1 id = "title">Наши партнеры</h1>
            <div class="text">
                <div class="member partner">
                    <a href=""><img src="" alt=""></a>
                    <h3>Немецкая неправительственная организация «Капанамур»</h3>
                    <p>Общественная организация «Общественный контроль труда» была зарегистрирована в январе 2015 года, но инициативная группа, участники которой стали основателями «Общественного контроля труда»  работала с июля 2014 года во время активизации боевых действий на Донбассе. <br><br>
                    </p>
                </div>
                <div class="member partner">
                    <a href=""><img src="" alt=""></a>
                    <h3>Немецкая неправительственная организация «Капанамур»</h3>
                    <p>Общественная организация «Общественный контроль труда» была зарегистрирована в январе 2015 года, но инициативная группа, участники которой стали основателями «Общественного контроля труда»  работала с июля 2014 года во время активизации боевых действий на Донбассе. <br><br>
                    </p>
                </div>
                <div class="member partner">
                    <a href=""><img src="" alt=""></a>
                    <h3>Немецкая неправительственная организация «Капанамур»</h3>
                    <p>Общественная организация «Общественный контроль труда» была зарегистрирована в январе 2015 года, но инициативная группа, участники которой стали основателями «Общественного контроля труда»  работала с июля 2014 года во время активизации боевых действий на Донбассе. <br><br>
                    </p>
                </div>
                <div class="member partner">
                    <a href=""><img src="" alt=""></a>
                    <h3>Немецкая неправительственная организация «Капанамур»</h3>
                    <p>Общественная организация «Общественный контроль труда» была зарегистрирована в январе 2015 года, но инициативная группа, участники которой стали основателями «Общественного контроля труда»  работала с июля 2014 года во время активизации боевых действий на Донбассе. <br><br>
                    </p>
                </div>
            </div>
		</div>