{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}

    {% if searchnews %}

    <div class="galery">
    <div class="row">

			{% for news in searchnews %}

						<div class="col-md-4">
							 <div class="news">
								 <img src="{{ news.img_url }}" alt="{{ news.title }}">
								 <div class="news-text">
								 <h4>{{ news.title }}</h4>
								 <p>{% autoescape off %} {{ news.text }} {% endautoescape %}</p>
								 </div>
								 <i id = "date">{{ news.pub_date | date:"d.m.Y" }}</i>
								 <a id = "Reed-more" href="{% url 'mynews:fullread' news.pk %}">Читать больше</a>
							 </div>
						</div>

			 {% endfor %}

     </div>
  </div>

    {% else %}
      <p> {{ keywords }}- --- Ничего не найдено по Вашому запросу.</p>
    {% endif %}

{% endblock %}

{% block paginate %}

		<nav class ="p-nav" aria-label="Page navigation">
			<div class="pagination">
				<span class="step-links">
				{% if searchnews.has_previous %}
					<a href="?page={{ searchnews.previous_page_number }}"><button><<</button></a>
				{% else %}
					<button><<</button>
				{% endif %}
				<span class="current">
				 {{ searchnews.number }} из {{ searchnews.paginator.num_pages }}
				</span>
				{% if searchnews.has_next %}
					<a href="?page={{ searchnews.next_page_number }}"><button>>></button></a>
					{% else %}
						<button>>></button>
				{% endif %}
				</span>
			</div>
		</nav>

{% endblock %}
